AWS_PROFILE="default"
AWS_REGION="ap-south-1"
SUFFIX="pdftalker-ai-agent____should_be_unique_please_change_to_something_else"

ACCOUNT_ID="aws_account_id"
PDF_BUCKET="pdf-talker-pds-pdftalker-ai-agent-pdfs"
ASSETS_BUCKET="pdf-talker-pds-pdftalker-ai-agent-assets"

LAMBDA_ARN="arn_id"

VITE_COGNITO_USER_POOL_ID="user_pool_id"

# Frontend
VITE_COGNITO_CLIENT_ID="bpadjgl2a2274von72utq9pau"
VITE_LOGUT_URI="/logout"

VITE_API_GATEWAY_ENDPOINT_URL="YOUR_API_GATEWAY_ENDPOINT_URL"
VITE_S3_BUCKET_NAME="YOUR_S3_PDF_BUCKET_NAME"
VITE_AWS_REGION="YOUR_AWS_REGION"